<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.file_field :avatar %>
  <br />
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  <br />
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, :class => "form-control" %>
  </div>
  <br />
  <div class="form-group">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, :class => "form-control" %>
  </div>
  <br />
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, :class => "form-control" %>
  </div>
  <%= f.submit :class => "btn btn-primary" %>
<% end %>
