<div class="form">
  <div class="logoEdit">
   	<%= image_tag @company.avatar.url(:medium) %>
  </div>
  <br />
	<dl class="dl-horizontal">
		<dt>Name:</dt>
		<dl><%= @company.name %></dl>
    <dt>Email:</dt>
    <dl><%= @company.email %></dl>
		<dt>Phone:</dt>
		<dl><%= @company.phone %></dl>
		<dt>Created the:</dt>
		<dl><%= @company.created_at %></dl>
		<dt>Updated the:</dt>
		<dl><%= @company.updated_at %></dl>
	</dl>
	<br />
	<%= link_to 'Edit', edit_company_path(@company) %> |
	<%= link_to 'Back', companies_path %>
</div>
<br />
<h3>Projects for <%= @company.name %></h3>
<br />

<div class="panel-group" id="accordion">
  <% @missions.each do |mission| %>
    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#<%= mission.id %>" style="display:block">
          <b><%= mission.name %></b><span style="float:right"><%= mission.updated_at %></span>
        </a>
      </h4>
    </div>
    <div id="<%= mission.id %>" class="panel-collapse collapse off">
      <div class="panel-body">
        <div class="buttons">
          <a href="/missions/<%= mission.id %>"><i class="fa fa-eye"></i></a>
          <a href="/missions/<%= mission.id %>/edit"><i class="fa fa-edit"></i></a>
          <a data-confirm="Are you sure?" data-method="delete" href="/missions/<%= mission.id %>" rel="nofollow"><i class="fa fa-trash-o"></i></a>
        </div>
        <h3><%= mission.name %></h3><br />
        <div class="scroller">
          <p><%=raw mission.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  $(document).ready(function() {
      $('.scroller').slimScroll({
          height: '400px'
      });
  });
</script>